.margin-top-1 {
    margin-top: 1cm;
}

td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
}

i:hover {
    cursor: pointer;
    color: #999898
}

i:active {
    color: #999898;
    transform: translateY(1px);
}

.border-solid-black {
    border: 1px solid black;
}

.center {
    text-align: center;
}

.button {
    background-color: #4d4d4d;
    color: #FFFFFF;
    padding-bottom: 1px;
    margin-bottom: 2px;
}

.button:hover {
    cursor: pointer;
    color: #999898
}

.button:active {
    color: #999898;
    transform: translateY(1px);
}