<div class="container margin-top-1 border-solid-black">
    <div class="row">
        <div class="col-12 center">
            <h1>MASTER KARYAWAN</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button (click)="addEmployee()" class="button"><span>Tambah <i class="fa fa-plus" aria-hidden="true"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center" style="overflow-x:auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            <div>No</div>
                            <div>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div>Nama</div>
                            <div>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div>Tanggal Lahir</div>
                            <div>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div>Jabatan</div>
                            <div>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div>NIP</div>
                            <div>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div>Jenis Kelamin</div>
                            <div>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            </div>
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataEmp; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.birthDate | date}}</td>
                        <td>{{data.position.name}}</td>
                        <td>{{data.idNumber}}</td>
                        <td>{{data.gender == 1 ? "Pria" : "Wanita"}}</td>
                        <td>
                            <div>
                                <button (click)="updateEmployee(data.id, data)" style="margin-right: 5px;" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button (click)="setDeleteId(data.id)" style="background-color: rgba(255, 0, 0, 0.775);" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button (click)="deleteEmployee()" type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
            </div>
        </div>

    </div>