<div class="container margin-top-1 border-solid-black">
    <div class="row">
        <div class="col-12">
            <button (click)="back()" class="button"><span>Back</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <form>
                <h1>Register</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <label for="nama"><b>Nama</b></label><br>
                <input [(ngModel)]="name" type="text" placeholder="Masukan nama" name="nama" id="nama" required>
                <br><br>

                <label for="date"><b>Tanggal Lahir</b></label><br>
                <input [(ngModel)]="birthDate" type="date" placeholder="Tanggal lahir" name="date" id="date" required> <br><br>

                <label for="position"><b>Jabatan</b></label><br>
                <select [(ngModel)]="positionId" name="position" name="position" id="position" required>
                    <option selected >--Select your account number--</option>
                    <option *ngFor="let data of position" value="{{data.id}}"> {{ data.name }} </option>
                </select><br><br>

                <label for="nip"><b>NIP</b></label><br>
                <input (keyup)="checkNumber()" [(ngModel)]="idNumber" type="number" placeholder="Masukan NIP" name="nip" id="nip" required>
                <br><br>

                <label for="nip"><b>Jenis Kelamin</b></label><br>
                <input [(ngModel)]="gender" type="radio" id="male" name="gender" value="1">
                <label for="male">Male</label><br>
                <input [(ngModel)]="gender" type="radio" id="female" name="gender" value="2">
                <label for="female">Female</label><br>
                <hr>

                <button *ngIf="objective == 'update'" (click)="update()" type="submit" class="registerbtn">Update</button>
                <button *ngIf="objective != 'update'" (click)="save()" type="submit" class="registerbtn">Register</button>
            </form>
        </div>
    </div>
</div>